In [1]:
import pandas as pd
import matplotlib.pyplot as plt

# Load the dataset
file_path = "C:\\Users\\vishw\\Downloads\\retail_sales_dataset.csv"
df = pd.read_csv(file_path)

# Display the first few rows of the dataset
print(df.head())

# Check for missing values
missing_values = df.isnull().sum()
print(missing_values)

# Handle missing values (Fill missing values with 0 or drop rows with missing values)
df.fillna(0, inplace=True)
# Alternatively, you can drop rows with missing values
# df.dropna(inplace=True)

# Convert data types if necessary (e.g., converting a column to datetime)
# df['date_column'] = pd.to_datetime(df['date_column'])

# Remove duplicates
df.drop_duplicates(inplace=True)

# Handle outliers (this is just an example, you'll need to define your own criteria)
# df = df[df['sales'] < df['sales'].quantile(0.95)]

# Describe the dataset
print(df.describe())

# Plot some basic graphs (e.g., sales over time)
# Adjust the column names if necessary
# df.plot(x='date_column', y='sales', kind='line')
# plt.show()

   Transaction ID        Date Customer ID  Gender  Age Product Category  \
0               1  2023-11-24     CUST001    Male   34           Beauty
1               2  2023-02-27     CUST002  Female   26         Clothing
2               3  2023-01-13     CUST003    Male   50      Electronics
3               4  2023-05-21     CUST004    Male   37         Clothing
4               5  2023-05-06     CUST005    Male   30           Beauty

   Quantity  Price per Unit  Total Amount
0         3              50           150
1         2             500          1000
2         1              30            30
3         1             500           500
4         2              50           100
Transaction ID      0
Date                0
Customer ID         0
Gender              0
Age                 0
Product Category    0
Quantity            0
Price per Unit      0
Total Amount        0
dtype: int64
       Transaction ID         Age     Quantity  Price per Unit  Total Amount
count     1000.000000  1000.00000  1000.000000     1000.000000   1000.000000
mean       500.500000    41.39200     2.514000      179.890000    456.000000
std        288.819436    13.68143     1.132734      189.681356    559.997632
min          1.000000    18.00000     1.000000       25.000000     25.000000
25%        250.750000    29.00000     1.000000       30.000000     60.000000
50%        500.500000    42.00000     3.000000       50.000000    135.000000
75%        750.250000    53.00000     4.000000      300.000000    900.000000
max       1000.000000    64.00000     4.000000      500.000000   2000.000000